<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <h1>
    Lets me verify if I'm writing a polindrome!
  </h1>
  <h2>Here's the word or phrase to verify: </h2>
  <input type="text" placeholder="My palindrome" [(ngModel)]="text" (focus)="onClearResult()" />
  <button (click)="onChangeText()">Verify</button>

  <div class="result" *ngIf="hasResult" [class.positive]="isPalindrome" class="result">
    <b>{{text}}</b> <span *ngIf="!isPalindrome"> not</span> is a palindrome.
  </div>
</div>